{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-form">
        <form class="main-form-details" method="POST">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <button class="btn btn-outline-dark btn-sm" type="submit">Sign In</button>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'password_reset' %}">Forgot password?</a>
        </form>
        <div>
            Haven't signed up yet?<a class="btn btn-dark btn-sm" href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
{% endblock content %}