{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}PhotoHub - Password reset{% endblock title %}
{% block content %}
    <div class="main-form">
        <form class="main-form-details" method="POST">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <div class="main-form-button">
                <button class="btn btn-outline-dark btn-sm" type="submit">Reset Password Here</button>
            </div> 
        </form>
    </div>
{% endblock content %}