{% extends 'base.html' %}
{% load user_extras %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div>
            <img src="{{ object.profile.image.url }}">
            <div>{{ object.username }}</div>
            <div>{{ object.profile.bio }}</div>
        </div>
        <div>
            {{ object.profile.count_followers }} followers
            {{ object.profile.count_following }} following
            {% if object.id != user.id %}
                {% user_followed_by_user object.id user.id as followed %}
                <br>
                {% if followed %}
                <form action="{% url 'user_follow' object.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="user_id" value="{{ object.id }}">Unfollow</button>
                </form>
                {% else %}
                <form action="{% url 'user_follow' object.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="user_id" value="{{ object.id }}">Follow</button>
                </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}