{% extends 'base.html' %}
{% load user_extras %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div>
            <img src="{{ object.profile.image.url }}">
            <div>{{ object.username }}</div>
            <div>{{ object.profile.bio }}</div>
        </div>
        <div>
            {{ object.profile.count_followers }} follower(s)
            {{ object.profile.count_following }} following
            {{ object.profile.count_photos }} photo(s) uploaded
            <div>
                Followers list:
                {% for follower in  object.profile.follows.all %}
                    <a href="{% url 'user_details' follower.pk %}">{{follower.user}}</a>
                {% endfor %}
            </div>
            <div>
                Following list:
                {% for followed in  object.profile.followers.all %}
                    <a href="{% url 'user_details' followed.pk %}">{{followed.user}}</a>
                {% endfor %}
            </div>
            {% if object.id != user.id %}
                {% user_followed_by_user object.id user.id as followed %}
                <br>
                {% if followed %}
                <form action="{% url 'user_follow' object.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="user_id" value="{{ object.id }}">Unfollow</button>
                </form>
                {% else %}
                <form action="{% url 'user_follow' object.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" name="user_id" value="{{ object.id }}">Follow</button>
                </form>
                {% endif %}
            {% endif %}
        </div>
        <div>
            {% for photo in photo_list %}
                {{photo.title}}
                <img src="{{ photo.image.url }}">
                <br>
            {% endfor %}
            <a href="{% url 'photo_list' %}?author={{object.pk}}">Display all {{object.username }} photos</a>
        </div>
    </div>
{% endblock content %}