{% extends 'base.html' %}
{% load photo_extras %}
{% block title %}PhotoHub - Liked photos{% endblock title %}
{% block content %}
    {% if object_list|length < 1 %}
    <div class="main-info">
        <div class="main-info-content">
            <h5>You haven't liked any photo yet</h5> 
        </div>
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                    <div class="col-md-4">
                        <a href="{% url 'photo_detail' object.id %}"><img class="img-thumbnail" src="{{ object.image.url }}"></a>
                    </div>   
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}