{% extends 'base.html' %}
{% load photo_extras %}
{% block content %}
    <div>
        <h3>Future sidebar</h3>
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" value="Search Photos"/>
        </form>
    </div>
    {% for object in object_list %}
        <div>
            <div>
                <img src="{{ object.author.profile.image.url }}">
                <a href="{% url 'user_details' object.author.id %}">{{ object.author }}</a>
                <small>{{ object.created|date:"F d, Y" }}</small>
            </div>
            <div>
                <h2><a href="{% url 'photo_detail' object.id %}">{{ object.title }}</a></h2>
                <div>
                    {{ object.total_likes }} likes
                    {% photo_liked_by_user object.id user.id as is_liked %}
                    <br>
                    {% if is_liked %}
                    <form action="{% url 'photo_like' object.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="photo_id" value="{{ object.id }}">Dislike</button>
                    </form>
                    {% else %}
                    <form action="{% url 'photo_like' object.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="photo_id" value="{{ object.id }}">Like</button>
                    </form>
                    {% endif %}
                </div>
                <a href="{% url 'photo_detail' object.id %}"><img src="{{ object.image.url }}"></a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'-3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}