{% extends 'base.html' %}
{% load photo_extras %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div>
            <img src="{{ object.author.profile.image.url }}">
            <a href="{% url 'user_details' object.author.id %}">{{ object.author }}</a>
            <small>{{ object.created|date:"F d, Y" }}</small>
        </div>
        {% if object.author == user %}
            <div>
                <a href="{% url 'photo_update' object.id %}">Update</a>
                <a href="{% url 'photo_delete' object.id %}">Delete</a>
            </div>
        {% endif %}
        <div>
            <h2>{{ object.title }}</h2>
            {{ object.category }}
            {{ object.description }}
            <br>
            <img src="{{ object.image.url }}">
        </div>
        <div>
            {{ object.total_likes }} likes
            {% photo_liked_by_user object.id user.id as is_liked %}
            <br>
            {% if is_liked %}
            <form action="{% url 'photo_like' object.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="photo_id" value="{{ object.id }}">Dislike</button>
            </form>
            {% else %}
            <form action="{% url 'photo_like' object.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" name="photo_id" value="{{ object.id }}">Like</button>
            </form>
            {% endif %}
        </div>
        <hr>
        <div>
            Comments:
            <br>
            {% for comment in object.comment_set.all %}
                {{ comment.created }} commented by {{ comment.author }}
                <br>
                {{ comment.content }}
                {% if comment.author == user %}
                    <div>
                        <a class="btn btn-outline-dark btn-sm" href="{% url 'comment_update' comment.id %}">Update comment</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'comment_delete' comment.id %}">Delete</a>
                    </div>
                {% endif %}
                <br>
            {% empty %}
                There are no comments yet, add the first one!
            {% endfor %}
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}