{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <div>
            <img src="{{ object.author.profile.image.url }}">
            <a href="#">{{ object.author }}</a>
            <small>{{ object.created|date:"F d, Y" }}</small>
        </div>
        {% if object.author == user %}
            <div>
                <a href="{% url 'photo-update' object.id %}">Update</a>
                <a href="{% url 'photo-delete' object.id %}">Delete</a>
            </div>
        {% endif %}
        <div>
            <h2>{{ object.title }}</h2>
            {{ object.category }}
            {{ object.description }}
            <br>
            <img src="{{ object.image.url }}">
        </div>
        <hr>
        <div>
            Comments:
            <br>
            {% for comment in object.comment_set.all %}
                {{ comment.created }} commented by {{ comment.author }}
                <br>
                {{ comment.content }}
                <br>
            {% empty %}
                There are no comments yet, add the first one!
            {% endfor %}
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}