{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}PhotoHub - Photo{% endblock title %}
{% block content %}
    <div class="main-form">
        <form class="main-form-details" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <div class="main-form-button">
                <button class="btn btn-outline-dark btn-sm" type="submit">Save</button>
                {% if object.id %}
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'photo_detail' object.id %}">Cancel</a>
                {% else %}
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'photo_list' %}">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}