footer {
    color: white;
    padding: 0.7rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

body {
    background-image: linear-gradient(to left top, #ffffff, #fbfbfb, #f7f7f7, #f4f4f4, #f0f0f0, #eeeeee, #ebecec, #e9eae9, #e8e9e9, #e7e8e8, #e6e6e6, #e5e5e5);
}

#main-photo-list, #main-user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.main-info, .main-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-form-details {
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.main-form-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-info-content {
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.main-photo, .main-user {
    width: 60%;
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
}

.main-photo-details-title {
    font-weight: 600;
}

.main-photo-details, .main-user-details, .photo-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1rem 2rem;
}

.photo-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.comment-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.main-photo-img, .photo-img {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.main-photo-img, .main-photo-details-left, .main-user-details-left, .comment-details-left, .photo-details-left, .photo-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.comment-details-left {
    display: block;
}

.main-photo-details-right, .main-user-details-right, .comment-details-right, .photo-details-right {
    text-align: center;
    white-space: nowrap;
}

.main-photo-details a, .main-user-details a, .photo-details a {
    color: black;
}

.main-user-details-info, .main-photo-details-info, .photo-details-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.main-photo-details-profilepic, .main-user-details-profilepic, .photo-detail-profilepic {
    height: 100px;
    width: 100px;
    margin: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.main-user-settings {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-user-settings-content {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.main-user-settings-form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    word-break: break-word;
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.main-user-settings-profilepic {
    height: 300px;
    width: 300px;
    margin: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.main-user-settings-form small {
    color: #6c757d;
    display: inline-block;
    padding-bottom: 1rem;
}

.photo-view {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.photo {
    width: 60%;
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.comments {
    width: 60%;
    word-break: break-word;
    text-align: justify;
    text-justify: inter-word;
    background: rgba(76, 76, 76, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(76, 76, 76, 0.33);
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.comment-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.photo-details-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.photo-details-inline.h2 {
    display: inline;
}

.fixed-height {
    min-height: calc(100vh - 40px);
}

.img-fluid {
    border-radius: 5px;
}

.paginator {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.paginator-page {
    background-color: #212529;
    border-radius: 50%;
    color: white;
    padding: 0.5rem 0.9rem;
    text-decoration: none;
}

.paginator-page:hover {
    color: white;
    background-color: #4b525a;
}

.photo-search, .user-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.photo-search-form, .user-search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.photo-search-form-input, .user-search-form-input {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 31px;
}

select.photo-search-form-input {
    width: 130px;
}

.btn-dark {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.btn-outline-dark {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}